
<div *ngIf="salesDetails">
    <h2><span jhiTranslate="inventoryApp.salesDetails.detail.title">Sales Details</span> {{salesDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="inventoryApp.salesDetails.length">Length</span></dt>
        <dd>
            <span>{{salesDetails.length}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.salesDetails.breadth">Breadth</span></dt>
        <dd>
            <span>{{salesDetails.breadth}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.salesDetails.squareFeet">Square Feet</span></dt>
        <dd>
            <span>{{salesDetails.squareFeet}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.salesDetails.saleDetail">Sale Detail</span></dt>
        <dd>
            <div *ngIf="salesDetails.saleDetail">
                <a [routerLink]="['/product-details', salesDetails.saleDetail?.id]">{{salesDetails.saleDetail?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sales-details/'+ salesDetails.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
