
/* ==========================================================================
Navbar
========================================================================== */

/* ==========================================================================
Logo styles
========================================================================== */

.logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-jhipster.png") no-repeat center center;
            background-size: contain;
        }

