<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLeftoverDetailsLabel" jhiTranslate="inventoryApp.leftoverDetails.home.createOrEditLabel">Create or edit a Leftover Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!leftoverDetails.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="leftoverDetails.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="inventoryApp.leftoverDetails.parentId" for="field_parentId">Parent Id</label>
            <input type="number" class="form-control" name="parentId" id="field_parentId"
                [(ngModel)]="leftoverDetails.parentId" required/>
            <div [hidden]="!(editForm.controls.parentId?.dirty && editForm.controls.parentId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.parentId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.parentId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="inventoryApp.leftoverDetails.length" for="field_length">Length</label>
            <input type="number" class="form-control" name="length" id="field_length"
                [(ngModel)]="leftoverDetails.length" required/>
            <div [hidden]="!(editForm.controls.length?.dirty && editForm.controls.length?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.length?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.length?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="inventoryApp.leftoverDetails.breadth" for="field_breadth">Breadth</label>
            <input type="number" class="form-control" name="breadth" id="field_breadth"
                [(ngModel)]="leftoverDetails.breadth" required/>
            <div [hidden]="!(editForm.controls.breadth?.dirty && editForm.controls.breadth?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.breadth?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.breadth?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="inventoryApp.leftoverDetails.squareFeet" for="field_squareFeet">Square Feet</label>
            <input type="number" class="form-control" name="squareFeet" id="field_squareFeet"
                [(ngModel)]="leftoverDetails.squareFeet" required/>
            <div [hidden]="!(editForm.controls.squareFeet?.dirty && editForm.controls.squareFeet?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.squareFeet?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.squareFeet?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="inventoryApp.leftoverDetails.leftoverDetail" for="field_leftoverDetail">Leftover Detail</label>
            <select class="form-control" id="field_leftoverDetail" name="leftoverDetail" [(ngModel)]="leftoverDetails.leftoverDetail" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productDetailsOption.id === leftoverDetails.leftoverDetail?.id ? leftoverDetails.leftoverDetail : productDetailsOption" *ngFor="let productDetailsOption of productdetails; trackBy: trackProductDetailsById">{{productDetailsOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
