<div>
    <h2>
        <span jhiTranslate="inventoryApp.wasteDetails.home.title">Waste Details</span>
        <button class="btn btn-primary float-right jh-create-entity create-waste-details" [routerLink]="['/', { outlets: { popup: ['waste-details-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="inventoryApp.wasteDetails.home.createLabel">
            Create new Waste Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'inventoryApp.wasteDetails.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="wasteDetails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="inventoryApp.wasteDetails.length">Length</span></th>
            <th><span jhiTranslate="inventoryApp.wasteDetails.breadth">Breadth</span></th>
            <th><span jhiTranslate="inventoryApp.wasteDetails.squareFeet">Square Feet</span></th>
            <th><span jhiTranslate="inventoryApp.wasteDetails.wasteDetail">Waste Detail</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let wasteDetails of wasteDetails ;trackBy: trackId">
                <td><a [routerLink]="['../waste-details', wasteDetails.id ]">{{wasteDetails.id}}</a></td>
                <td>{{wasteDetails.length}}</td>
                <td>{{wasteDetails.breadth}}</td>
                <td>{{wasteDetails.squareFeet}}</td>
                <td>
                    <div *ngIf="wasteDetails.wasteDetail">
                        <a [routerLink]="['../product-details', wasteDetails.wasteDetail?.id ]" >{{wasteDetails.wasteDetail?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../waste-details', wasteDetails.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'waste-details/'+ wasteDetails.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'waste-details/'+ wasteDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
